# EDA Recommender system

In [67]:
# Importing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [68]:
# reading in the data and creating a path

path = "../Data/"
movies = "movies.csv"
ratings = "ratings.csv"

df_movies = pd.read_csv(path + movies)
df_ratings = pd.read_csv(path + ratings)

In [69]:
# Doing EDA on Movies data

print(df_movies.head()) # Contains columns movieId, title, genres
print(df_movies.shape) # 58098 rows and 3 columns
print(df_movies.info()) # No null values, tilte is an object, genres is an object
# checking for duplicates
print(df_movies.duplicated().sum()) # 0 duplicates

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
(58098, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58098 entries, 0 to 58097
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  58098 non-null  int64
 1   title    58098 non-null  object
 2   genres   58098 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.3+ MB
None
0

In [70]:
# same for ratings data
print(df_ratings.head()) # Contains columns userId, movieId, rating, timestamp
print(df_ratings.shape) # 27753444 rows and 4 columns
print(df_ratings.info()) # No null values, userId is an int, movieId is an int, rating is a float, timestamp is an int
# checking for duplicates
print(df_ratings.duplicated().sum()) # 0 duplicates

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264
(27753444, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27753444 entries, 0 to 27753443
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 847.0 MB
None
0

In [71]:
# Merging the two dataframes
df = pd.merge(df_movies, df_ratings, on = "movieId")

In [72]:
# Converting timestamp to datetime
df["timestamp"] = pd.to_datetime(df["timestamp"], unit = "s")
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,4.0,2005-04-17 19:25:37
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,5.0,2000-01-26 11:24:10
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.5,2015-09-13 18:36:15
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,4.0,2013-06-09 20:34:23
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22,4.0,2009-03-21 08:03:51

In [73]:
# dropping movies with less than 10000 ratings
#df = df.groupby("title").filter(lambda x: len(x) >= 10000).reset_index(drop = True) # removes 13343761 entries
#df.head()

In [74]:
# finding the most negative user
df.groupby("userId").mean().sort_values("rating", ascending = True).head()

C:\Users\Agam\AppData\Local\Temp\ipykernel_19948\3529508978.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("userId").mean().sort_values("rating", ascending = True).head()

            movieId  rating
userId
246381   342.000000     0.5
117977  1304.950000     0.5
163134  2021.000000     0.5
61279   3593.000000     0.5
280246  4836.866667     0.5

In [83]:
# Checking how many users has a mean of 0.5 for rating
# amount of negative users

df.groupby("userId").mean().sort_values("rating", ascending = True).head(275)

C:\Users\Agam\AppData\Local\Temp\ipykernel_19948\4045367692.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("userId").mean().sort_values("rating", ascending = True).head(275)

             movieId    rating
userId
246381    342.000000  0.500000
117977   1304.950000  0.500000
163134   2021.000000  0.500000
61279    3593.000000  0.500000
280246   4836.866667  0.500000
...              ...       ...
239685   1112.777778  0.555556
250370   2181.937500  0.562500
32279   15972.687500  0.562500
133198   2733.933333  0.566667
129394   1295.000000  0.566667

[275 rows x 2 columns]

In [96]:
# looking at a specific user
df[df["userId"] == 65588].sort_values("rating", ascending = True).head(100)

,movieId,title,genres,userId,rating,timestamp
707956,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,65588,0.5,2016-02-01 02:06:55
7724989,1213,Goodfellas (1990),Crime|Drama,65588,0.5,2016-02-01 02:07:13
7873658,1221,"Godfather: Part II, The (1974)",Crime|Drama,65588,0.5,2016-02-01 02:07:00
8240999,1252,Chinatown (1974),Crime|Film-Noir|Mystery|Thriller,65588,0.5,2016-02-01 02:07:22
11409295,2019,Seven Samurai (Shichinin no samurai) (1954),Action|Adventure|Drama,65588,0.5,2016-02-01 02:07:10
19354304,5618,Spirited Away (Sen to Chihiro no kamikakushi) ...,Adventure|Animation|Fantasy,65588,0.5,2016-02-01 02:07:11
19794278,6016,City of God (Cidade de Deus) (2002),Action|Adventure|Crime|Drama|Thriller,65588,0.5,2016-02-01 02:07:06
20831187,7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy,65588,0.5,2016-02-01 02:07:25
22873843,44555,"Lives of Others, The (Das leben der Anderen) (...",Drama|Romance|Thriller,65588,0.5,2016-02-01 02:07:14
24048792,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,65588,0.5,2016-02-01 02:07:05
25243535,79132,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX,65588,0.5,2016-02-01 02:07:15
25947278,92259,Intouchables (2011),Comedy|Drama,65588,0.5,2016-02-01 02:07:26
27420391,149406,Kung Fu Panda 3 (2016),Action|Adventure|Animation,65588,0.5,2016-02-01 02:06:31
27428948,151311,Wiener-Dog (2016),Comedy,65588,0.5,2016-02-01 02:06:40
27430697,151605,Lo and Behold: Reveries of the Connected World...,Documentary,65588,0.5,2016-02-01 02:06:37
27430844,151621,Looking for Grace (2015),Drama,65588,0.5,2016-02-01 02:06:35
27431384,151675,Lazer Team (2016),Comedy|Sci-Fi,65588,0.5,2016-02-01 02:06:32
27431724,151707,The Eagle Huntress (2016),Adventure|Children|Documentary,65588,0.5,2016-02-01 02:06:36
7589875,1207,To Kill a Mockingbird (1962),Drama,65588,0.5,2016-02-01 02:07:23
27431784,151717,Long Way North (2016),Adventure|Animation,65588,0.5,2016-02-01 02:06:34
7524059,1203,12 Angry Men (1957),Drama,65588,0.5,2016-02-01 02:07:08
7350170,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,65588,0.5,2016-02-01 02:07:21
1011484,110,Braveheart (1995),Action|Drama|War,65588,0.5,2016-02-01 02:06:25
2001711,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,65588,0.5,2016-02-01 02:06:27
2306388,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,65588,0.5,2016-02-01 02:07:18
2537485,318,"Shawshank Redemption, The (1994)",Crime|Drama,65588,0.5,2016-02-01 02:06:20
2935599,356,Forrest Gump (1994),Comedy|Drama|Romance|War,65588,0.5,2016-02-01 02:06:28
4109660,527,Schindler's List (1993),Drama|War,65588,0.5,2016-02-01 02:06:22
4263888,541,Blade Runner (1982),Action|Sci-Fi|Thriller,65588,0.5,2016-02-01 02:07:34
4746453,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,65588,0.5,2016-02-01 02:07:19
5407443,750,Dr. Strangelove or: How I Learned to Stop Worr...,Comedy|War,65588,0.5,2016-02-01 02:07:04
5805708,858,"Godfather, The (1972)",Crime|Drama,65588,0.5,2016-02-01 02:06:54
5947563,904,Rear Window (1954),Mystery|Thriller,65588,0.5,2016-02-01 02:07:02
5977189,908,North by Northwest (1959),Action|Adventure|Mystery|Romance|Thriller,65588,0.5,2016-02-01 02:07:17
6024415,912,Casablanca (1942),Drama|Romance,65588,0.5,2016-02-01 02:07:03
6142102,922,Sunset Blvd. (a.k.a. Sunset Boulevard) (1950),Drama|Film-Noir|Romance,65588,0.5,2016-02-01 02:07:24
7073698,1136,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy,65588,0.5,2016-02-01 02:07:20
7238988,1193,One Flew Over the Cuckoo's Nest (1975),Drama,65588,0.5,2016-02-01 02:07:01
7289558,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,65588,0.5,2016-02-01 02:06:26
7397837,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,65588,0.5,2016-02-01 02:06:24
27432471,151743,Toni Braxton: Unbreak My Heart (2016),Drama,65588,0.5,2016-02-01 02:06:38

In [92]:
# Finding how many reviews every movie has

df.groupby("title").count().sort_values("rating", ascending = False).head(100)

                                  movieId  genres  userId  rating  timestamp
title
Shawshank Redemption, The (1994)    97999   97999   97999   97999      97999
Forrest Gump (1994)                 97040   97040   97040   97040      97040
Pulp Fiction (1994)                 92406   92406   92406   92406      92406
Silence of the Lambs, The (1991)    87899   87899   87899   87899      87899
Matrix, The (1999)                  84545   84545   84545   84545      84545
...                                   ...     ...     ...     ...        ...
L.A. Confidential (1997)            32553   32553   32553   32553      32553
Clockwork Orange, A (1971)          32436   32436   32436   32436      32436
Ghost (1990)                        32210   32210   32210   32210      32210
Shining, The (1980)                 32129   32129   32129   32129      32129
Spider-Man (2002)                   32068   32068   32068   32068      32068

[100 rows x 5 columns]